<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 启动@aspectj的自动代理支持-->
    <aop:aspectj-autoproxy />

    <!-- 定义目标对象 -->
    <bean id="userDaos" class="study.spring.aop.first.dao.impl.UserDaoImpl" />
    <!-- 定义aspect类 add-->
    <bean name="myAspectJ" class="study.spring.aop.first.aspect.MyAspect"/>

    <!-- 定义aspect类 del-->
    <bean name="myAspectJ2" class="study.spring.aop.first.aspect.AspectOne"/>

    <!-- 定义aspect类 del-->
    <bean name="myAspectJ3" class="study.spring.aop.first.aspect.AspectTwo"/>
</beans>